.advantage {
    background: #2B2B2B;
    text-align: left;
}

.advantage__item  {
    text-align: left;
    margin-left: 20px;
} 
.card__head--advantage {
    margin: 0 0 6px 0;
}
.card__description {
    opacity: 0.5;
}