.question {
    background: #2B2B2B;
    text-align: left;
}

.card__head--question {
    display: block;
    font-size: 16px;
    width: 240px;
}
.card__body--question {
    width: 280px;
}

.accordion__item {
    text-align: left;
    margin-left: 20px;
}

.article {
    color: #FCB216;
}